#wrapper{
	position: relative;
	opacity: 0;
	-webkit-animation: fadeIn .5s ease forwards;
	-webkit-animation-delay: 3.5s;
}
.header_wrapper{
	font-family: 'Libre Franklin', Helvetica;
	position: absolute; 
	z-index: 1;
	color: white;
	margin: auto;
	width: 100%;
	padding-top: 100px;
	/*outline: 2px dashed blue;*/
}
.header{
	text-align: center;
	padding: 25px;
}
#soon{
	color: #add8e6;
}
#name{
	font-size: 30px;
}
canvas {
	background: #232323;
	z-index: -1;
}
html{
	background: #232323;
}
#comingsoon{}
@keyframes fadeIn {
	0%{
		-webkit-opacity: 0;
	}
	100%{
		-webkit-opacity: 1;
	}
}
