#rectangle{
	width: 100px;
	height: 100px;
	transform: rotate(45deg);
	border: 10px solid transparent;
	margin: 0 auto;
}
#rectangle:before{
	content: '';
	position: absolute;
	width: 0%;
	height: 0%;
	top: -10px;
	left: -10px;
	border: 10px solid #add8e6;
	animation: rect_anim 0.75s ease-in forwards;
}

#logo{
	border: 2px solid red;
	height:50%;
	padding-top: 300px;
}
#js{
	transform: rotateX(180deg);
	position: absolute;
	top: 7%;
	left: 18%;
	font-size: 75px;
	font-weight: 0;
	color: #add8e6;
}
html{
	background: grey;
}
@keyframes rect_anim{
	0%{
		width: 0;
		height: 0;
		border-left-color: #add8e6;
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
		
	}
	50%{
		width: 0%;
		height: 100%;
		border-left-color: #add8e6;
		border-bottom-color: #add8e6;
		border-top-color: transparent;
		border-right-color: transparent;
	}
	100%{
		width: 100%;
		height: 100%;
		border-left-color: #add8e6;
		border-bottom-color: #add8e6;
		border-top-color: transparent;
		border-right-color: transparent;
	}

}
/*
---------------------------------------------------------------------------
*/
.circle__box {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -60px;
  
  border: 1px solid red;
  
  transform: rotateX(180deg);
}

.circle__wrapper {
  width: 60px;
  height: 120px;
  position: absolute;
  top: 0;
  overflow: hidden;
  /*
  border: 1px solid black;
  */
}

.circle__wrapper--right {
  right: 0;
}

.circle__wrapper--left {
  left: 0;
}

.circle__whole {
  width: 100px;
  height: 100px;
  border: 10px solid transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

.circle__right {
  border-top: 10px solid #add8e6;
  border-right: 10px solid #add8e6;
  right: 1px;
  animation: circleRight 1.5s ease-in forwards;
}

.circle__left {
  border-bottom: 10px solid #add8e6;
  border-left: 10px solid #add8e6;
  left: 1px;
  animation: circleLeft 1.5s ease-out forwards;
}

@keyframes circleRight {
  0% {
    transform: rotate(-135deg);
  }
  50%,
  100% {
    transform: rotate(45deg);
  }
}

@keyframes circleLeft {
  0%,
  50% {
    transform: rotate(-135deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}