html{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}
#main_wrap{
	position: inline-block;
	width: 100%;
}
/*For Desktops*/
@media only screen and (min-width: 992px)
{
	#rectangle{
	width: 100px;
	height: 100px;
	border: 5px solid transparent;
	transform: rotate(45deg);
	margin: 0 auto;
	}
	#rectangle:before{
	content: '';
	position: absolute;
	width: 0%;
	height: 0%;
	top: -5px;
	left: -5px;
	border: 5px solid transparent;
	-webkit-animation: rect_anim 0.75s ease-in forwards;
	animation: rect_anim 0.75s ease-in forwards;
	}
	#rectangle:after{
	content: '';
	position: absolute;
	height: 0%;
	top: -5px;
	left: -5px;
	border: 5px solid transparent;
	-webkit-animation: rect_anim2 0.75s ease-out forwards;
	-webkit-animation-delay: 0.75s;
	animation: rect_anim2 0.75s ease-out forwards;
	animation-delay: 0.75s;
	}
	#logo{
	text-align: center;
	position: absolute;
	margin-left: -50px;
	margin-top: -50px;
	left: 50%;
	top: 50%;
	-webkit-animation: doneIntro 0.75s linear forwards;
	-webkit-animation-delay: 2.5s;
	animation: doneIntro 0.75s linear forwards;
	animation-delay: 2.5s;
	}
	#js{
	transform: rotateX(180deg);
	position: absolute;
	top: 3%;
	left: 17%;
	font-size: 75px;
	font-synthesis: weight;
	font-weight: 500;
	color: #add8e6;
	opacity: 0;
	-webkit-animation: logo_anim 1s ease forwards;
	-webkit-animation-delay: 1.5s;
	animation: logo_anim 1s ease forwards;
	animation-delay: 1.5s;
	}	
	.circle__box {
	  width: 110px;
	  height: 110px;
	  margin: 0 auto;
	  position: absolute;
	  left: 50%;
	  margin-left: -55px;
	  transform: rotateX(180deg);
	}

	.circle__wrapper {
	  width: 55px;
	  height: 110px;
	  position: absolute;
	  top: 0;
	  overflow: hidden;
	  /*
	  border: 1px solid black;
	  */
	}

	.circle__wrapper--right {
	  right: 0;
	}

	.circle__wrapper--left {
	  left: 0;
	}

	.circle__whole {
	  width: 100px;
	  height: 100px;
	  border: 5px solid transparent;
	  border-radius: 50%;
	  position: absolute;
	  top: 0;
	}

	.circle__right {
	  border-top: 5px solid #add8e6;
	  border-right: 5px solid #add8e6;
	  right: 1px;
	  -webkit-animation: circleRight 1.5s ease-in forwards;
	  animation: circleRight 1.5s ease-in forwards;
	}

	.circle__left {
	  border-bottom: 5px solid #add8e6;
	  border-left: 5px solid #add8e6;
	  left: 1px;
	  -webkit-animation: circleLeft 1.5s ease-out forwards;
	  animation: circleLeft 1.5s ease-out forwards;
	}
	#logo_pic{
		position: absolute;
		transform: scale(0);
		opacity: 0;
	}

}
/*For Mobile*/
@media only screen and (max-width: 991px)
{
	#logo_pic{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -78px;
		margin-left: -78px;
		-webkit-animation: fadeIn 1.5s ease forwards;
		animation: fadeIn 1.5s ease forwards;
	}
	#logo{
		position: absolute;
		margin-top: -50px;
		left: 50%;
		top: 50%;
		-webkit-animation: doneIntro 0.75s linear forwards;
		-webkit-animation-delay: 2.5s;
		animation: doneIntro 0.75s linear forwards;
		animation-delay: 2.5s;
	}
	#js{
		display: none;
	}
}

@-webkit-keyframes rect_anim{
	0%{
		width: 0;
		height: 0;
		border-left-color: #add8e6;
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
	}
	50%{
		width: 0%;
		height: 100%;
		border-left-color: #add8e6;
		border-bottom-color: #add8e6;
		border-top-color: transparent;
		border-right-color: transparent;
	}
	100%{
		width: 100%;
		height: 100%;
		border-left-color: #add8e6;
		border-bottom-color: #add8e6;
		border-top-color: transparent;
		border-right-color: transparent;
	}
}
@-webkit-keyframes rect_anim2{
	0%{
		width: 0;
		height: 0;
		border-left-color: transparent;
		border-top-color: #add8e6;
		border-right-color: transparent;
		border-bottom-color: transparent;
	}
	50%{
		width: 100%;
		height: 0%;
		border-left-color: transparent;
		border-bottom-color: transparent;
		border-top-color: #add8e6;
		border-right-color: #add8e6;
	}
	100%{
		width: 100%;
		height: 100%;
		border-left-color: transparent;
		border-bottom-color: transparent;
		border-top-color: #add8e6;
		border-right-color: #add8e6;
	}
}
@-webkit-keyframes logo_anim{
	0%{
		-webkit-opacity: 0;
	}
	100%{
		-webkit-opacity: 1;
	}
}
@-webkit-keyframes doneIntro{
	0%{
		-webkit-transform: scale(1);
	}
	50%{
		-webkit-transform: scale(1.25);
	}
	75%{
		-webkit-transform: scale(1.25);
		-webkit-opacity: 1;
	}
	99%{
		-webkit-transform: scale(0);
		-webkit-opacity: 0;
	}
	100%{
		-webkit-transform: scale(0);
		display: none;
	}

}
@-webkit-keyframes doneIntroM{
	0%{
		-webkit-transform: scale(1);
		-webkit-transform: rotate(0deg);
	}
	50%{
		-webkit-transform: scale(1.25);
	}
	75%{
		-webkit-transform: scale(1.25);
		-webkit-opacity: 1;
	}
	99%{
		-webkit-transform: scale(0);
		-webkit-opacity: 0;
	}
	100%{
		-webkit-transform: scale(0);
		display: none;
	}

}
@keyframes rect_anim2{
	0%{
		width: 0;
		height: 0;
		border-left-color: transparent;
		border-top-color: #add8e6;
		border-right-color: transparent;
		border-bottom-color: transparent;
	}
	50%{
		width: 100%;
		height: 0%;
		border-left-color: transparent;
		border-bottom-color: transparent;
		border-top-color: #add8e6;
		border-right-color: #add8e6;
	}
	100%{
		width: 100%;
		height: 100%;
		border-left-color: transparent;
		border-bottom-color: transparent;
		border-top-color: #add8e6;
		border-right-color: #add8e6;
	}
}
@keyframes logo_anim{
	0%{
		-webkit-opacity: 0;
	}
	100%{
		-webkit-opacity: 1;
	}
}
@keyframes doneIntro{
	0%{
		-webkit-transform: scale(1);
	}
	50%{
		-webkit-transform: scale(1.25);
	}
	75%{
		-webkit-transform: scale(1.25);
		-webkit-opacity: 1;
	}
	99%{
		-webkit-transform: scale(0);
		-webkit-opacity: 0;
	}
	100%{
		-webkit-transform: scale(0);
		display: none;
	}

}
@keyframes doneIntroM{
	0%{
		-webkit-transform: scale(1);
		-webkit-transform: rotate(0deg);
	}
	50%{
		-webkit-transform: scale(1.25);
	}
	75%{
		-webkit-transform: scale(1.25);
		-webkit-opacity: 1;
	}
	99%{
		-webkit-transform: scale(0);
		-webkit-opacity: 0;
	}
	100%{
		-webkit-transform: scale(0);
		display: none;
	}

}
@-webkit-keyframes fadeIn {
	0%{
		-webkit-transform: scale(1.25);
		-webkit-opacity: 0;
	}
	100%{
		-webkit-transform: scale(1);
		-webkit-opacity: 1;
	}
}
@keyframes fadeIn {
	0%{
		transform: scale(1.25);
		opacity: 0;
	}
	100%{
		transform: scale(1);
		opacity: 1;
	}
}
/*
---------------------------------------------------------------------------
*/

@-webkit-keyframes circleRight {
  0% {
    -webkit-transform: rotate(-135deg);
  }
  50%,
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@-webkit-keyframes circleLeft {
  0%,
  50% {
    -webkit-transform: rotate(-135deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes circleRight {
  0% {
    -webkit-transform: rotate(-135deg);
  }
  50%,
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes circleLeft {
  0%,
  50% {
    -webkit-transform: rotate(-135deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}